:root {
  --el-color-primary: #0D9488;
  --el-color-primary-light-3: #14B8A6;
  --el-color-primary-light-5: #2DD4BF;
  --el-color-primary-light-7: #5EEAD4;
  --el-color-primary-light-8: #99F6E4;
  --el-color-primary-light-9: #CCFBF1;
  --el-color-primary-dark-2: #0F766E;

  --el-color-success: #10B981;
  --el-color-success-light-3: #34D399;
  --el-color-success-light-5: #6EE7B7;
  --el-color-success-light-7: #A7F3D0;
  --el-color-success-light-8: #D1FAE5;
  --el-color-success-light-9: #ECFDF5;
  --el-color-success-dark-2: #059669;

  --el-color-teal-50: #F0FDFA;
  --el-color-teal-100: #CCFBF1;
  --el-color-teal-200: #99F6E4;
  --el-color-teal-300: #5EEAD4;
  --el-color-teal-400: #2DD4BF;
  --el-color-teal-500: #14B8A6;
  --el-color-teal-600: #0D9488;
  --el-color-teal-700: #0F766E;
  --el-color-teal-800: #115E59;
  --el-color-teal-900: #134E4A;

  --el-color-green-50: #F0FDF4;
  --el-color-green-100: #DCFCE7;
  --el-color-green-200: #BBF7D0;
  --el-color-green-300: #86EFAC;
  --el-color-green-400: #4ADE80;
  --el-color-green-500: #22C55E;
  --el-color-green-600: #16A34A;
  --el-color-green-700: #15803D;
  --el-color-green-800: #166534;
  --el-color-green-900: #14532D;
}
